<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <%= @todos.each do |todo| %>
    <div class="well"> <%=todo.completed%> <%= link_to todo.description, todo %> </div>
    <% end %>
    <%= link_to'Crear TO-DO', new_todo_path %>
  </body>
</html>
