<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <%= @todos.each do |todo| %>

    <div class="well"> <%=todo.completed%> <%=todo.description%> </div>
    <% end %>
    <%= link_to'Crear TO-DO', todos_new_path %>
  </body>
</html>
