<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h2>
          <%= @todo.description %>
        </h2>
        <h3>
          To-Do:
          <% if @todo.completed == false or @todo.completed == nil%>
          Not done
        </h3>
        <h3>
          <%else %>
          Done
        </h2>
        <%end%>
        <h3>
          Create at :
          <%= time_ago_in_words @todo.created_at %>
        </h3>
      </div>
    </div>
  </body>
</html>
