<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>

    <h1>
      <%= @todo.description %>
    </h1>
    <p>
      <%= @todo.completed %>
    </p>
    <p>
      <%= time_ago_in_words @todo.created_at %>
    </p>

  </body>
</html>
